@import "../../scss/index.scss";

.tweet {
  border-bottom: 1px solid $border-gray;
  display: flex;
  padding: 10px 20px;

  .avatar {
    height: 50px;
    margin-right: 20px;
    width: 50px;
  }

  .name {
    font-weight: bold;

    span {
      color: $font-gray;
      font-size: 12px;
      font-weight: normal;
      margin-left: 10px;
    }
  }
}
